html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
  list-style: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
} 

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner {
    width: 1110px;  
    margin: 0px auto;
    }
button {
        border: 0;
        cursor: pointer;
}

header {
    padding: 38px 0px 32px;
}

.logotip {
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
}

.logotip::first-letter {
    color: rgb( 26, 188, 156 );
    font-weight: bold;
}

.navigation {
    float: right;
    padding-top: 10px;
}

.site-navigation li {
        float: left;
        margin-right: 30px;
}
.site-navigation li:last-child {
    margin-right: 0px;
}

.site-navigation a {
        display: block;
        color: #0f0101;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 11px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: rgb( 26, 188, 156 );
}

.slider {
    position: relative;
    margin: 0px auto;
    max-width: 1600px;
}
.slider img {
    margin: 0px auto;
   }

.touers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    z-index: 5;
}

.touers h2{
    font-weight: 900;
    font-size: 60px;
    line-height: 82px;
}

.touers h2:hover {
    color: rgb(255, 114, 0);
}

.touers p {
    font-weight: 300;
    font-size: 24px;
    line-height: 54px;

}
.slider_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.slider_button-left {
    float: left;
    width: 104px;
    height: 104px;
    background-color: rgba( 78, 198, 171, 0.6);
    background-image: url(../image/ikon/angle-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider_button-right {
    float: right;
    width: 104px;
    height: 104px;
    background-color: rgba( 78, 198, 171, 0.6);
    background-image: url(../image/ikon/angle-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .slider_button-left:hover,
 .slider_button-right:hover {
    background-color: rgba(26, 188, 156);
 } 

 .overlay_slider {
    position: absolute;  
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba( 0, 0, 2, 0.5);
    z-index: 2; 
} 
 
.colection {
    padding: 100px 0px;
    background-color: rgb( 233, 240, 253 );
    margin: 0 auto;
}

.colection h2 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    color: #515151;
}

.colection-list::before {
    display: block;
    margin: 0px auto 82px;
    width: 164px;
    height: 8px;
    content: '' ;
    background-color: #4ec6ab;
}

.colection-list-item {
    position: relative;
    float: left; 
    width: 255px;
}

.colection-list-item:hover .overlay {
    display: block; 
}

.colection-list-item:not(:last-child) {
    margin-right: 30px;
}

.colection-name {
    background-color: rgb( 50, 50, 50 );
}

.colection-name h3 {
    float: left;
    padding: 7px 0px 7px 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
}
.colection-name p {
    float: right;
    padding: 7px 0px;
    width: 54px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 32px;    
    font-size: 18px;
    color: rgb( 255, 255, 255 );  
    background-color: rgba(255, 255, 255, 0.44);
}

.colection-name a {
    text-decoration: none;
    color: white;
}

.colection-list-item:hover .colection-name {
    background-color: rgb(26, 188, 156)
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 255px;
    height: 282px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    display: none;
}

.overlay_list_item {
    float: left;
}

.overlay_list_item:not(:last-child) {
    margin-bottom: 8px;
}

.overlay_list_item:nth-child(-n+2) {
    margin-right: 8px;
}

.overlay_list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 166px;
}

.overlay_list_item_buttom {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px;
    border-color: rgb( 255, 255, 255 );
    border-style: solid;
    cursor: pointer;    
}

.buttom_heard {
    background-image: url(../image/ikon/heard.png) 
}
.buttom_shuffle {
    background-image: url(../image/ikon/shuffle.png) 
}
.buttom_clock {
   background-image: url(../image/ikon/clock.png) 
}

.last_button {
    width: 166px;
    padding-top: 8px;
    padding-left: 36px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 32px;
    text-align: center;
    background-color: rgb( 50, 50, 50 ); 
    background-image: url(../image/ikon/cart.svg);
    background-position: 12px;
}

.overlay_list_item_buttom:hover {
        background-color: rgb( 26, 188, 156 );    
    }

.footer {
    padding: 34px 0px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: rgb( 254, 254, 254 );
        line-height: 28px;
        text-align: center;
        background-color: rgb( 50, 50, 50 );
}

.footer a {
color: rgb(70, 191, 169);
text-decoration: none;
}
      