body {
    /* margin: 0px;
    padding: 0px;    */
    color: #555252;
    /* background-color: rgb(218, 120, 120); */
   }  
.conteiner {
    width: 1110px;
    padding-top: 38px;
    margin: 0px auto 104px;
    /* background-color: rgb(65, 161, 116); */
    }
.conteiner-main {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}    
h2, 
h3,
p {
    margin: 0;
    padding: 0;
}
/* HEADER */


.logotip {
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
}
.logotip::first-letter {
color: rgb( 26, 188, 156 );
font-weight: bold;
}
.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.navigation {
    float: right;
    padding-top: 10px;
}
.site-navigation li {
    float: left;
    margin-right: 30px;
}
.site-navigation li:last-child {
    margin-right: 0px;
}
.site-navigation a {
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* font-size: 0.494cm; */
    line-height: 0.785;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: rgb( 26, 188, 156 );
    }


/* Section Product */
.products h2{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900px;
    line-height: 32px;
    text-align: center;
}
.products-list::before {
    display: block;
    margin: 0px auto 92px;
    width: 164px;
    height: 8px;
    content: '' ;
    background-color: #4ec6ab;
}
.products-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.products-list-item img {
    background-color: rgb( 233, 240, 253 );
}
.products-list-item {
    float: left; 
    width: 255px; 
    outline: 2px solid green; 
  }
.products-list-item:not(:nth-child(4n)) {
margin-right: 30px;
}
.products-list-item:not(:nth-last-child(-n+4)) {
margin-bottom: 30px;
}
.products {
    margin-bottom: 106px;
}

.products-name {
    /* background-color: rgb( 50, 50, 50 ); */
}
.products-name h3 {
    float: left;
    background-color: rgb( 50, 50, 50 );
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 900;
    text-align: center;
    width: 201px;
}
.products-name p {
    font-size: 18px;
    color: rgb( 255, 255, 255 );
    float: right;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    width: 54px;
    text-align: center;
    line-height: 32px;
    
}
.products-name p {
    background-color: rgba( 50, 50, 50 ,0.44);
}

.products-name p::before {
    content: '\0024';
}
/* Section Blog */
/* 
.blog {
    

} */
.blog h2 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900px;
    line-height: 32px;
    /* padding: 20px; */
    text-align: center;
}

.news {
    margin: 0;
    padding: 0;
    list-style: none;
}
.news::before {
    display: block;
    margin: 0px auto 80px;
    width: 164px;
    height: 8px;
    content: '' ;
    background-color: #4ec6ab;
}
.news-item {
   float: left; 
   width: 350px; 
}
.news-item:not(:last-child) {
    margin-right: 30px;
}
.news-item img {
    margin-bottom: 14px; 
}

.news-item h3 {   
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
/* .news-item h3::after {
    display: block;
    margin-top: 12px;
    width: 136px;
    height: 4px;
    content: '' ;
    background-color: #4ec6ab;
} */
/* Полоса між абзацом і текстом */
.news-item p::before {
    display: block;
    margin-bottom: 26px;
    width: 136px;
    height: 4px;
    content: '' ;
    background-color: #4ec6ab;
}

.news-item p {
    margin-bottom: 14px;
}
.news-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
.read_more_button {
    padding: 16px 46px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff ;
    background-color: rgb( 78, 198, 171 );
    box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
    margin-bottom: 44px;
    cursor: pointer;
}
/* body {
     margin: 0px;
     padding: 0px;
     font-family: 'Playfair Display', serif;    
     font-size: 14px;
     color: #626262;
    }  
img{
    display: block;
    max-width: 100%;
    height: auto;
    } 
nav{
    padding: 76px 0px 104px ;
    } 
.site-navigation {
    margin: 0px;
    padding: 0px; 
    text-align: center;
    }
.site-navigation li {
    display: inline-block;
    }
.site-navigation li:nth-child(1){
    margin-right: 122px;
    }
.site-navigation li:nth-child(2){
    margin-right: 102px;
     }
.site-navigation li:nth-child(3){
    margin-right: 96px;
    }
.site-navigation a {
    display: block;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    }      
.conteiner {
    width: 900px;
    margin: 0 auto;
    }
.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
    }
.main-content p,
.main-content h2 {
    margin: 0px; 
    }
.main-list {
    list-style: none;
    margin: 0px 0px 52px 0px;
    padding: 0px;
    font-size: 0px;
    }
.main-list-item {
    width: 420px;
    display: inline-block;
    margin-bottom: 132px;
    }
.main-list-item:nth-child(2n-1){
    margin-right: 60px;
    }
.main-list-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
    }
.main-list-item h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 36px;
    }
.main-list-item p {
    font-size: 14px;
    line-height: 24px;   
    }
.main-conteiner .main-paragraf {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 32px;
    color: #b4ad9e;
    }
.main-list-item img {
    margin-bottom: 30px;
    }
.load_more_button {
    padding: 0px;
    width: 164px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Times New Roman';
    color: #626262;
    cursor: pointer;
    }
.load_more {
    text-align: center;
    }
    
    
   
     */