html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
       color: #555252;
   }  
.conteiner {
    width: 1110px;
    padding-top: 38px;
    margin: 0px auto 104px;
    }
.conteiner-main {
    width: 1110px;
    margin: 0 auto;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}  
img{
    display: block;
    max-width: 100%;
    height: auto;
}  
h2, 
h3,
p {
    margin: 0;
    padding: 0;
}
.logotip {
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 32px;
    color: #555252;
}
.logotip::first-letter {
    color: rgb( 26, 188, 156 );
    font-weight: bold;
}
.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.navigation {
    float: right;
    padding-top: 10px;
}
.site-navigation li {
    float: left;
    margin-right: 30px;
}
.site-navigation li:last-child {
    margin-right: 0px;
}
.site-navigation a {
    display: block;
    color: #0f0101;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: rgb( 26, 188, 156 );
    }
.products h2{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}
.products-list::before {
    display: block;
    margin: 0px auto 92px;
    width: 164px;
    height: 8px;
    content: '' ;
    background-color: #4ec6ab;
}
.products-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.products-list-item img {
    background-color: rgb( 233, 240, 253 );
}
.products-list-item {
    float: left; 
    width: 255px; 
}
.products-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.products-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}
.products {
    margin-bottom: 106px;
}
.products-name h3 {
    float: left;
    padding: 7px 0px 7px 14px;
    width: 201px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 900;
    color: rgb( 255, 255, 255 );
    background-color: rgb( 50, 50, 50 );
}
.products-name p {
    float: right;
    padding: 7px 0px;
    width: 54px;
    font-size: 18px;
    color: rgb( 255, 255, 255 );   
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    line-height: 32px;    
}
.products-name p {
    background-color: rgba( 50, 50, 50 ,0.44);
}
.products-name a {
    text-decoration: none;
    color: white;
}
.products-list-item:hover .products-name h3 {
    background-color: rgb(26, 188, 156)    
}
.products-list-item:hover .products-name p {
    background-color: rgba(26, 188, 156,0.44)
}
.blog {
    margin-bottom: 44px;
}
.blog h2 {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
}
.news {
    margin: 0;
    padding: 0;
    list-style: none;
}
.news::before {
    display: block;
    margin: 0px auto 80px;
    width: 164px;
    height: 8px;
    content: '' ;
    background-color: #4ec6ab;
}
.news-item {
   float: left; 
   width: 350px; 
}
.news-item:not(:last-child) {
    margin-right: 30px;
}
.news-item img {
    margin-bottom: 14px; 
}
.news-item h3 {   
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
.news-item p::before {
    display: block;
    margin-bottom: 26px;
    width: 136px;
    height: 4px;
    content: '' ;
    background-color: #4ec6ab;
}
.news-item p {
    margin-bottom: 14px;
}
.news-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
.news-item-link {
    display: inline-block;
    padding: 16px;
    width: 160px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    text-align: center;
    color: #ffffff ;
    background-color: rgb( 78, 198, 171 );
}
