$main-font: 'Montserrat';
$secondary-font: 'Roboto';
$third-font: 'Kaushan Script';

$primary-color:    rgb(255, 255, 255);
$transition-color: rgb(252, 227, 138);
$sections-color:   rgb(51, 51, 51);
$section-secondary-color: rgb(153, 153, 153);
